.pieces-drawer{
	padding:0em 0.5em 5em 0.5em;
	border-top:1px solid black;
	z-index:30;
	margin-top:0vh;
	background:white;
	/*display:grid;*/
	/*grid-template-columns:repeat(6, 1fr);*/
	/*grid-gap:24px;*/
}

.pieces-drawer_title{
	font-size:var(--large-text);
	text-transform: uppercase;
	margin:0.75em 0em;
	grid-column:1/span 6;
	text-align:left;
	margin-left:5vw;
}

.pieces-container{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap:24px;
	margin:0 auto;
	width:90vw;
}


.piece-in-the-drawer:active{
	transform:scale(0.9);
}

.pieces-drawer_wrapper{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
}

.pieces-drawer{
	/*display:grid;*/
	/*grid-template-columns: repeat(12,1fr);*/
}
.piece-in-the-drawer.selected{
	/*border:1px solid red;*/
}

.pieces{

	text-align:center;
	display:flex;
	flex-direction: column;
	justify-content: center;
	/*background:gray;*/
	text-align:center;
	position:relative;

}


.drawer-image{
	width:100%;
	margin:0 auto;
}

input[name=piece_id]{
	background:red;
	border:10px solid red;


	position:absolute;
	bottom:0;
	width:100%;
	left:45%;
}

input[type=submit]{
	height:1.5em;
	margin-left:5vw;
}

input[type=hidden]{
	display:none;
	grid-column:;
}

@media screen and (max-width:700px) {
	.pieces-drawer{
		display:grid;
		grid-template-columns:repeat(3, 1fr);
		
	}

	.pieces-drawer_title{
		grid-column:1 / span 3;
	}

	.drawer-image{

	}
	
}