@import "drawer.css";
@import "typography.css";
@import "global-nav.css";
@import "composition.css";


body{
	margin:0;
	display:grid;
	width:100vw;
	overflow-x: hidden;
}

.content-wrapper{
	position:relative;
	width:100%;
}

.next, .announcement{
	font-size:var(--jumbo-text);
	z-index:200;
	text-align:center;
	line-height:1.0;
	letter-spacing: -0.02em;
}

@media screen and(max-width:700px){
	.announcement{

		color:red;
	}
}

a.next:link, a.next:visited{
	border-bottom:2px solid black;
}


img{
	max-width:500px;
	mix-blend-mode: multiply;
}

img.thumbnail{
	max-width:100%;
}

img.placed-pieces{
	position:absolute;
}

a:link,
a:visited{
	text-decoration:none;
	color:black;
}

a:active{
	transform:scale(0.9);
}

time{
	font-family:var(--sans);
	font-size:var(--large-text);
	text-align:center;
	margin-top:0.5em;
}

.composition_header{
	position:absolute;
	padding-left:0.5em;
}

.piece_number{
	font-family:var(--sans);
	/*margin-left:1em;*/
	top:0;
	position:absolute;
}

.pieces-library-container{
	display:grid;
	grid-template-columns: repeat(6,1fr);
	width:90vw;
	margin:5em auto;
}

.pieces-library-cointainer img{
	max-width:50px;
}

.piece-index{
	position:relative;
}

.library-form label{
	font-size:var(--large-text);
	padding:0.5em 0;
	border-bottom:1px solid black;
}

.library-form label:last-child{

	grid-column:2 /span 2;
}

.library-form{
	display:grid;
	grid-template-columns:repeat(3,1fr);

}

.library-form label.file{
	grid-column:1/span 3;
	text-align:left;
}

.library-form input[type="radio"]{
	/*display:block;*/
}

input[type="submit"].uploader{
	margin-left:0;
	margin-top:0.5em;
}

input[type="file"]{
	/*background:red;*/
	font-family:arial;
	/*font-size:32px;*/
	/*border:10px solid black;*/
}

.library{
	width:90vw;
	margin:0 auto;
}

@media screen and (max-width:500px){
	img{
		max-width:300px;
	}
}