@import "drawer.css";
@import "typography.css";
@import "global-nav.css";
@import "composition.css";


body{
	margin:0;
	display:grid;
}

.content-wrapper{
	position:relative;
	width:100%;
}



img{
	max-width:40%;
	mix-blend-mode: multiply;
}

img.thumbnail{
	max-width:200px;
}

img.placed-pieces{
	position:absolute;
}

a:link,
a:visited{
	text-decoration:none;
	color:black;
}

a:active{
	transform:scale(0.9);
}


