@font-face{
	font-family:"Gothic 523";
	src:url('assets/gothic-523-beta.otf');
	font-weight:500;
	font-style:normal;
}

@font-face{
	font-family:"variable";
	src:url('assets/test-light.ttf');
	font-weight:200;
	font-style:normal;
}

:root{
	--sans:"variable";
	--variable:"variable";
	--small-text:14px;
	--regular-text:24px;
	--large-text:32px;
	--x-large-text:48px;
	--x-x-large-text:72px;
	--jumbo-text:120px;
}

h1,h2,h3,h4,h5,h6,p,li,a,button,label, input{
	font-family:var(--sans);
	font-weight:normal;
	font-variation-settings:"brkn" 1000;
}

*:hover{
	font-variation-settings:"brkn" 0;
}


label{
	font-family:var(--sans);
	font-size:24px;
}

input[type="submit"],
button{
	font-family:var(--sans);
	font-size:32px;
	background:white;
	border:1px solid black;
	text-transform:uppercase;
}

button:focus{
	outline:3px solid black;
}

button:active{
	transform:scale(0.9);
}

input[type="text"]{
	font-family:var(--sans);
	font-size:24px;
	margin-bottom:1em;
}