.drawer{
	
	border-top:1px solid black;
	margin-top:100vh;
}

.drawer_title{
	text-align:center;
	text-transform:uppercase;
}

.drawer ul{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}

.drawer ul li{
	list-style:none;
	width:10%;
}