@import "drawer.css";
@import "typography.css";


body{
	margin:0;
	display:grid;
}

.content-wrapper{
	position:relative;
}

h1{
	font-family:helvetica;
}

img{
	max-width:100%;
	mix-blend-mode: multiply;
}



.selected{
	outline:1px solid red;
}



.rotate{
	position:fixed;
	top:0;
	right:0;
}

.image-wrapper{
	transform-origin:50% 50%;
	position:absolute;
	mix-blend-mode: multiply;
}